html,
body {
  height: 100%;
}
@media (min-width: 992px) {
  body {
    padding: 0;
  }
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.above {
  margin-bottom: 10px;
}
.fi-radio .notActive {
  color: #3276b1;
  background-color: #fff;
}
.ksi-table td {
  width: 10%;
}
.cross-channel-title {
  margin-top: 0;
  margin-bottom: 20px;
}
.cross-channel-profile .dl-horizontal {
  margin-bottom: 0;
}
.cross-channel-profile .dl-horizontal dt {
  width: 80px;
}
.cross-channel-profile .dl-horizontal dd {
  margin-left: 100px;
}
#current-filter-value .label {
  white-space: normal;
  display: inline-block;
  text-align: left;
}
#new-tag-filter .filter-values .btn {
  text-align: left;
}
.navbar-toggle {
  float: left;
  margin-left: 15px;
}
.navmenu {
  z-index: 1;
}
.navmenu,
.navbar-offcanvas {
  width: 200px;
}
.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 65px 0 0 0;
  background: #fff;
}
@media (min-width: 0) {
  .navbar-toggle {
    display: block;
    /* force showing the toggle */
  
  }
}
@media (min-width: 992px) {
  
}
.canvas-page .page-header {
  margin-top: 0;
}
.canvas-page .page-header h1 {
  margin-top: 5px;
}
.canvas-page .page-header h1 .btn {
  margin-top: -8px;
}
#dashboard .widget {
  height: 150px;
  margin-bottom: 80px;
}
#filter-option {
  z-index: 1040;
}
#current-filter-value .dropdown-toggle {
  font-size: 75%;
  height: 20px;
  padding: .2em .6em .3em;
  font-weight: bold;
}
