			<div class="container">
				<form id="form-signin" class="form-signin" role="form">
					<h2 class="form-signin-heading">Please sign in</h2>
					<input type="email" class="form-control" placeholder="Email address" required value="wholesale_exec@test.com" autofocus>
					<input type="password" class="form-control" placeholder="Password" required value="123456">
					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
				</form>
			</div> <!-- /container -->